<!-- http://localhost:8080/basic/literal -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <h1>리터럴</h1>
    <ul>

        <!--주의! 타임 리프는 일반 주석을 허용하지 않아서 Thymeleaf 주석 사용 -->
        <!-- Thymeleaf에서 HTML 주석을 사용하더라도, 주석된 코드가 여전히 파싱될 수 있으며, 구문 오류가 발생할 수 있습니다.-->
        <li th:remove="all">"hello world!" = <span th:text="'hello world!'"></span></li>
       
      <li>'hello' + ' world!' = <span th:text="'hello' + ' world!'"></span></li>
      <li>'hello world!' = <span th:text="'hello world!'"></span></li>
      <li>'hello ' + ${data} = <span th:text="'hello ' + ${data}"></span></li>
      <li>
        리터럴 대체 |hello ${data}| = <span th:text="|hello ${data}|"></span>
      </li>
    </ul>
  </body>
</html>
</html>
